{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "event-management.fullname" . }}-ingress
  labels:
    {{- include "event-management.labels" . | nindent 4 }}
  annotations:
{{ include "event-management.commonAnnotations" . | indent 4 }}
spec:
  {{- if .Values.ingress.tls.enabled }}
  tls:
  - hosts:
    - {{ .Values.ingress.hostname }}
    secretName: {{ .Values.ingress.tls.secretName }}
  {{- end }}
  rules:
  - host: {{ .Values.ingress.hostname }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: {{ include "event-management.fullname" . }}-frontend
            port:
              number: {{ .Values.service.frontend.port }}
{{- end }}
